html,
body {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: block;
  overflow-y: auto;
  //-webkit-overflow-scrolling: touch;
}

body {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-family: adobe-clean, san-serif;
  //-webkit-overflow-scrolling: touch;
}



body {
  display: block;
  //position: relative;
}

main {
  //overflow: scroll;
}

header {
  position: absolute;
}
