<h1 class="logo"><img
  src="http://www.adobe.com/special/dom/prod/homepage/v9/en-US/img/logo.svg"
  alt=""></h1>
<div class="tabs">
  <input checked type="radio" name="tab-visible" value="1" id="option-1">
  <input type="radio" name="tab-visible" value="2" id="option-2">
  <input type="radio" name="tab-visible" value="3" id="option-3">
  <input type="radio" name="tab-visible" value="4" id="option-4">
  <section>
    <figure class="cover cover--image" id="f1">
      <figcaption>
        <h2 class="title">One moment. Infinite possibilities.</h2>
        <p class="detail"><img
          src="//joytv.gr/wp-content/uploads/2013/12/androgynous-150x150.jpg" alt=""/>Vancouver-based
          photographer Bal Deo used Photoshop and Lightroom to craft this image.
          With his Creative Cloud membership, he’s doing some of the best
          creative work in the world. You can too.</p>

        <p class="route"><a class="button">Get started</a></p>
      </figcaption>
      <aside>
        <h3 class="title">The Monk Series</h3>
        <nav>
          <a href="#">View on Behance <img
            src="//www.adobe.com/special/dom/prod/homepage/v9/en-US/img/producticons/be.png" alt=""/></a>
          <a href="#" class="kuler-palette">Download palette</a>
          <a href="#">Made with <img
            src="//wwwimages.adobe.com/content/dam/Adobe/images/shared/product_mnemonics/32x32/photoshop-32x32.png" alt=""/>Photoshop</a>
          <a href="#">and <img
            src="//wwwimages.adobe.com/content/dam/Adobe/images/shared/product_mnemonics/32x32/lightroom-32x32.png" alt=""/>Lightroom</a>
        </nav>
      </aside>
    </figure>
  </section>
  <section>
    <figure id="f2" class="cover cover--image">
      <figcaption>
        <h2 class="title">All the solutions marketers need. All from Adobe.</h2>

        <p class="detail">A complete set of integrated solutions helps you
          maximize and measure your impact in more ways than ever before.</p>

        <p class="route"><a class="button">Learn more</a></p>
      </figcaption>
    </figure>
  </section>
  <section>
    <figure id="f3" class="cover cover--image">
      <figcaption>
        <h2 class="title">Discover an easier way to work.</h2>

        <p class="detail">Make your job easier every day with Acrobat XI Pro,
          the complete solution for working with PDF documents and forms.</p>
        <p class="route"><a class="button">Learn more</a></p>
      </figcaption>
    </figure>
  </section>
  <section id="f4">
    <div id="profile" class="cover cover--profile">
      <h2 class="title">Heading</h2>
    </div>
  </section>
  <nav>
    <label for="option-1">Creative Cloud</label>
    <label for="option-2">Marketing Cloud</label>
    <label for="option-3">Acrobat</label>
    <label for="option-4">…</label>
  </nav>
</div>
